APP_NAME='Ticket Monitoring System'
APP_ENV=local
APP_KEY=base64:Jwx+kfoLzwpKpeJ1SHlmFvi8DgiUEc0rU0YsqCgRxBU=
APP_DEBUG=true
APP_URL=https://gbi.apsoft.com.ph

LOG_CHANNEL=stack
LOG_LEVEL=debug

DB_CONNECTION=gbi
DB_HOST=122.54.171.141
DB_PORT=1433
DB_DATABASE=powerform-db1
DB_USERNAME=dashboard
DB_PASSWORD=powerformdb1

LOGIN_HOST=122.248.200.34
LOGIN_PORT=3306
LOGIN_DATABASE=stock
LOGIN_GBI=gbi
LOGIN_SCHEM=information_schema
LOGIN_USERNAME=nuserv-demo
LOGIN_PASSWORD=nuserv-demo

BROADCAST_DRIVER=log
CACHE_DRIVER=file
FILESYSTEM_DRIVER=local
QUEUE_CONNECTION=sync
SESSION_DRIVER=file
SESSION_LIFETIME=120

MEMCACHED_HOST=127.0.0.1

REDIS_HOST=127.0.0.1
REDIS_PASSWORD=null
REDIS_PORT=6379

MAIL_MAILER=smtp
MAIL_HOST=mail.ideaserv.com.ph
MAIL_PORT=465
MAIL_USERNAME=noreply@ideaserv.com.ph
MAIL_PASSWORD=q1w2e3r4t5y6
MAIL_ENCRYPTION=ssl
MAIL_FROM_ADDRESS=noreply@ideaserv.com.ph
MAIL_FROM_NAME="${APP_NAME}"

AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_DEFAULT_REGION=us-east-1
AWS_BUCKET=
AWS_USE_PATH_STYLE_ENDPOINT=false

PUSHER_APP_ID=
PUSHER_APP_KEY=
PUSHER_APP_SECRET=
PUSHER_APP_CLUSTER=mt1

MIX_PUSHER_APP_KEY="${PUSHER_APP_KEY}"
MIX_PUSHER_APP_CLUSTER="${PUSHER_APP_CLUSTER}"
